<f:layout name="Email" />

<f:section name="main">
    <h2><f:translate key="passwordRecovery.email.heading" extensionName="digas_fe_management" /></h2>

    <p><f:translate key="passwordRecovery.email.greeting" extensionName="digas_fe_management" arguments="{0: receiverName}" /></p>

    <p><f:translate key="passwordRecovery.email.intro" extensionName="digas_fe_management" /></p>

    <div class="action">
        <f:link.external uri="{url}" class="button"><f:translate key="passwordRecovery.email.heading" extensionName="digas_fe_management" /></f:link.external>
    </div>

    <p><f:translate key="passwordRecovery.email.validUntil" extensionName="digas_fe_management" arguments="{0: validUntil}" /></p>

    <hr />

    <p><f:translate key="passwordRecovery.email.notRequested" extensionName="digas_fe_management" /></p>
</f:section>
