{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <div class="femanager_list">
        <f:render partial="Misc/FlashMessages" arguments="{_all}"/>

        <f:if condition="{accessPending}">
            <f:then>
                <h3>
                    <f:translate key="administration.list.pending.headline" />
                </h3>
                <f:link.page class="btn btn-primary btn-margin-top">
                    <f:translate key="administration.list.pending.showAll" />
                </f:link.page>
            </f:then>
            <f:else>
                <f:render partial="User/Searchform" arguments="{_all}"/>

                <f:link.action class="btn btn-primary btn-margin-top" action="list" arguments="{accessPending:1}">
                    <f:translate key="administration.list.pending.showPending" />
                </f:link.action>
            </f:else>
        </f:if>

        <f:if condition="{users}">
            <f:then>
                <f:if condition="{settings.list.pagination} && {settings.list.limitPerPage} < {f:count(subject: users)} && !{accessPending}">
                    <f:then>
                        <f:for each="{users}" as="paginatedUsers">
                            <f:render partial="Administration/ListItems" arguments="{users:paginatedUsers,accessPending:accessPending}"/>
                        </f:for>
                    </f:then>
                    <f:else>
                        <f:render partial="Administration/ListItems" arguments="{users:users,accessPending:accessPending}"/>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <div class="femanager_note">
                    <f:translate key="noRecordsFound" extensionName="femanager"/>
                </div>
            </f:else>
        </f:if>
    </div>
</f:section>
