{namespace femanager=In2code\Femanager\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<div class="digas-admin-show">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />

		<f:if condition="{user}">
			<f:then>
				<ul class="actions">
					<li>
						<f:link.action
							action="editUser"
							class="btn"
							title="{f:translate(key:'administration.show.editUser')}"
							arguments="{user:user}">
							<f:translate key="administration.show.edit" />
						</f:link.action>
					</li>
					<li>
						<f:if condition="!{user.disable}">
							<f:then>
								<f:link.action
									action="deactivateUser"
									arguments="{user:user}"
									title="{f:translate(key:'administration.show.deactivateUser')}"
									class="btn btn-warning btn-large"
									additionalAttributes="{onclick:'return confirm(\'{f:translate(key:\'administration.show.UserDeactivateConfirmation\')}\');'}">
									<i class="icon-trash icon-white"></i>
									<f:translate key="administration.show.deactivateUser" />
								</f:link.action>
							</f:then>
							<f:else>
								<f:link.action
									action="deactivateUser"
									arguments="{user:user, setActiveState:1}"
									title="{f:translate(key:'administration.show.activateUser')}"
									class="btn btn-warning btn-large">
									<i class="icon-trash icon-white"></i>
									<f:translate key="administration.show.activate" />
								</f:link.action>
							</f:else>
						</f:if>
					</li>
                </ul>
				<ul class="account-type">
                    <li>
                        <f:translate key="administration.listing.table.userType"/>:
                        <f:if condition="{user.company} != ''">
                            <f:then><f:translate key="administration.listing.table.institutionalUser"/></f:then>
                            <f:else><f:translate key="administration.listing.table.privateUser"/></f:else>
                        </f:if>
                    </li>
                    <li>
                        <f:translate key="administration.userStatus" />:
                        <f:if condition="{user.disable}">
                            <f:then><f:translate key="administration.userInactive"/></f:then>
                            <f:else><f:translate key="administration.userActive"/></f:else>
                        </f:if>
                    </li>
                    <f:if condition="{user.inactiveMessageTstamp}">
                        <li>
                            <f:translate key="tx_femanager_domain_model_user.inactivemessage_tstamp"/>:
                            <f:format.date format="%d. %B %Y">{user.inactiveMessageTstamp}</f:format.date>

                        </li>
					</f:if>
				</ul>
				<ul class="user-details">
					<f:if condition="{user.username}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.username" extensionName="femanager" />:
                            {user.username}
						</li>
					</f:if>
					<f:if condition="{user.usergroup}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.usergroup" extensionName="femanager" />:
							<f:for each="{user.usergroup}" as="usergroup" iteration="i">{usergroup.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if></f:for>
						</li>
					</f:if>
					<f:if condition="{user.firstName}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.firstName" extensionName="femanager" />:
							{user.firstName}
						</li>
					</f:if>
					<f:if condition="{user.lastName}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.lastName" extensionName="femanager" />:
							{user.lastName}
						</li>
					</f:if>
					<f:if condition="{user.email}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.email" extensionName="femanager" />:
							<f:link.email email="{user.email}" />
						</li>
					</f:if>
					<f:if condition="{user.gender}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.gender" extensionName="femanager" />:
							<f:translate key="tx_femanager_domain_model_user.gender.item{user.gender}" />
						</li>
					</f:if>
					<f:if condition="{user.dateOfBirth}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.dateOfBirth" extensionName="femanager" />:
							<f:format.date format="{f:translate(key:'tx_femanager_domain_model_user.dateFormat')}">{user.dateOfBirth}</f:format.date>
						</li>
					</f:if>
					<f:if condition="{user.address}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.address" />:
							{user.address}
						</li>
					</f:if>
					<f:if condition="{user.zip}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.zip" extensionName="femanager" />:
							{user.zip}
						</li>
					</f:if>
					<f:if condition="{user.city}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.city" extensionName="femanager" />:
							{user.city}
						</li>
					</f:if>
					<f:if condition="{user.district}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.district" extensionName="femanager" />:
							{user.district}
						</li>
					</f:if>
					<f:if condition="{user.country}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.country" extensionName="femanager" />:
							{user.country}
						</li>
					</f:if>
					<f:if condition="{user.state}">
						<li>
							<f:translate key="tx_femanager_domain_model_user.state" extensionName="femanager" />:
							<!-- // TODO: Check me if i was displayed -->
							{user.state}
						</li>
					</f:if>
				</ul>
			</f:then>
			<f:else>
				<div class="femanager_note">
					<f:translate key="noRecordFoundShow" extensionName="femanager" />
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>
