<f:layout name="Email" />

<!-- Email / ConfirmDisableAction
Sent to the user before an unused account gets disabled.
Available variables: {user} User Object {settings} {hash}
-->

<f:section name="main">
    <h2><f:translate key="emailDisable.heading" extensionName="digas_fe_management" /></h2>

    <p><f:translate key="emailInvitationSalutation" /> {user.username},</p>

    <p><f:translate key="emailDisable.text1" extensionName="DigasFeManagement" /></p>

    <p><f:translate key="emailDisable.text2" extensionName="DigasFeManagement" /></p>

    <p><f:translate key="emailDisable.text3" extensionName="DigasFeManagement" /></p>

    <div class="action">
        <f:link.page absolute="1" pageUid="{settings.pids.rootPage}" class="button"><f:translate key="emailDisable.homepage" extensionName="DigasFeManagement" /></f:link.page>
    </div>
</f:section>
