<f:layout name="Email" />

<!-- Email / CreateUserNotifyAfterPwChange
Sent once, on the first password change, via slot \Slub\DigasFeManagement\Slots\AfterPasswordChange.
Available variables: {user} User Object {settings} {hash}
-->

<f:section name="main">
    <h2><f:translate key="emailCreateUserNotifyText1" /></h2>

    <p><f:translate key="emailCreateUserNotifyAfterPwChangeText" extensionName="digas_fe_management" /></p>

    <div class="action">
        <f:link.page pageUid="{settings.pids.loginPage}" absolute="1" class="button"><f:translate key="emailLinkLogin" extensionName="digas_fe_management" /></f:link.page>
    </div>

    <hr />

    <p style="font-size: 12px; color: #666666"><f:translate key="emailCreateUserConfirmationText5" /></p>
</f:section>
