<f:layout name="Email" />

<f:section name="main">
    <h2><f:translate key="requestKitodoAccess.email.toUser.subject" extensionName="digas_fe_management" /></h2>

    <f:render partial="Basket/Table" arguments="{documents:documents, showRemoveLink:0}" />

    <f:if condition="{message}">
        <h3><f:translate key="emailRequestKitodoAccessUserMessage" extensionName="digas_fe_management" /></h3>
        <blockquote class="quote">
            <p><f:format.nl2br><f:format.htmlentitiesDecode>{message}</f:format.htmlentitiesDecode></f:format.nl2br></p>
        </blockquote>
    </f:if>
</f:section>
