{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / New
		Available variables:
			{user}
			{allUserGroups}

<f:section name="main">
	<f:render partial="Misc/FlashMessages" arguments="{_all}" />
	<f:render partial="Misc/FormErrors" arguments="{object:User}" />
	<f:render partial="Misc/ResendConfirmation" arguments="{_all}" />
	<div class="femanager_new">
		<f:form
				name="user"
				object="{user}"
				action="create"
				enctype="multipart/form-data"
				additionalAttributes="{data-femanager-plugin:data.uid}"
				class="form-horizontal {f:if(condition:'{settings.new.validation._enable.client}',then:'feManagerValidation',else:'')}">

            <f:if condition="{settings.new.fields}">

                <f:for each="{femanager:misc.explode(string:'{settings.new.fields}')}" as="field">
                    <f:render partial="Fields/{femanager:misc.upper(string:'{field}')}" arguments="{_all}" />
                </f:for>

                <f:if condition="{settings.new.changeEmail}">
                    <f:then>
                        <f:render partial="ChangeEmail/Fields" arguments="{_all}" />
                    </f:then>
                    <f:else>
                        <f:form.hidden value="1" property="mustChangePassword" />
                    </f:else>
                </f:if>
                <f:render partial="Fields/SubmitCreate" arguments="{_all}" />

            </f:if>
		</f:form>
	</div>
</f:section>
