{namespace dc=Slub\SlubDigitalcollections\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">

    <div class="fe-management-statistic">
        <f:render partial="Misc/FlashMessages" arguments="{_all}"/>

        <f:if condition="{statistic}">
            <dl class="fe-management-statistic-summary">
                <dt><f:translate key="statistic.table.total"/></dt>
                <dd>
                    <span class="fe-management-statistic-summary-label"><f:translate key="statistic.table.downloadPages"/></span>
                    <span class="fe-management-statistic-summary-value">{totals.downloadPages}</span>
                </dd>
                <dd>
                    <span class="fe-management-statistic-summary-label"><f:translate key="statistic.table.downloadWork"/></span>
                    <span class="fe-management-statistic-summary-value">{totals.downloadWork}</span>
                </dd>
                <dd>
                    <span class="fe-management-statistic-summary-label"><f:translate key="statistic.table.workViews"/></span>
                    <span class="fe-management-statistic-summary-value">{totals.workViews}</span>
                </dd>
            </dl>
        </f:if>

        <f:render partial="Statistic/FilterForm" arguments="{dateFrom: '{dateFrom}', dateTo: '{dateTo}', action: 'administration'}"/>

        <f:if condition="{statistic}">
            <f:then>
                <f:render partial="Statistic/Result" arguments="{statistic: statistic, totals: totals, hideTotalsRow: 1, showProcess: 1}"/>
            </f:then>
            <f:else>
                <div class="fe-management-statistic--note">
                    <f:translate key="statistic.noRecordsFound"/>
                </div>
            </f:else>
        </f:if>

    </div>
</f:section>
