{namespace femanager=In2code\Femanager\ViewHelpers}

<f:if condition="{settings.showCompanyFields}">
<div class="femanager_fieldset femanager_company_type form-group">
    <label class="col-sm-2 control-label" for="femanager_field_company_type">
		<f:translate key="{settings.languageFile}:tx_femanager_domain_model_user.company_type" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'companyType')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
        <f:form.select
            property="companyType"
            class="form-control"
            id="femanager_field_company_type"
            prependOptionLabel=""
            prependOptionValue=""
            options="{
               1:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.company_type.item1\')}',
               2:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.company_type.item2\')}',
               3:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.company_type.item3\')}',
               4:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.company_type.item4\')}'
       }">

        </f:form.select>
	</div>
</div>
</f:if>
