{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="femanager_fieldset femanager_gender form-group">
	<label class="col-sm-2 control-label">
		<f:translate key="tx_femanager_domain_model_user.gender" extensionName="femanager" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'gender')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="col-sm-10">
        <femanager:form.select
            property="gender"
            class="form-control"
            id="femanager_field_gender"
            options="{
               0:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.gender.item0\')}',
               1:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.gender.item1\')}',
               2:'{f:translate(key:\'LLL:EXT:digas_fe_management/Resources/Private/Language/locallang.xlf:tx_femanager_domain_model_user.gender.item2\')}'
           }"/>
	</div>
</div>
