<f:layout name="Email" />

<!-- Email / CreateUserConfirmation
This mail will be send to the user, to confirm his new profile.
It's only activated, if the user-confirm-checkbox in the flexform setting was checked.
Available variables: {user} User Object {hash} Hash to ensure authentication of link
-->

<f:section name="main">
    <h2><f:translate key="emailCreateUserConfirmationLinkConfirmEmail" extensionName="digas_fe_management" /></h2>

    <p><f:translate key="emailCreateUserConfirmationTextChangeMail" extensionName="digas_fe_management" /></p>

    <div class="action">
        <f:link.action pageUid="{f:cObject(typoscriptObjectPath:'lib.confirmUserPid')}" action="confirmCreateRequest" controller="New" absolute="1" arguments="{user:user, hash:hash, noSecondMail:'1', status:'userConfirmation'}" class="button"><f:translate key="emailCreateUserConfirmationLinkConfirmEmail" extensionName="digas_fe_management" /></f:link.action>
    </div>
</f:section>
