<f:layout name="Email" />

<f:section name="main">
    <h2><f:translate extensionName="DigasFeManagement" key="kitodoAccessExpirationNotification.email.heading" languageKey="{languageKey}" /></h2>

    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessExpirationNotification.email.message" languageKey="{languageKey}" /></p>
    <ul>
        <f:for each="{documentsList}" as="expirationEntry">
            <li>{expirationEntry.recordId} - {expirationEntry.documentTitle}</li>
        </f:for>
    </ul>

    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessExpirationNotification.email.messageLogin" languageKey="{languageKey}" /></p>

    <div class="action">
        <f:link.external uri="{loginUrl}" class="button"><f:translate extensionName="DigasFeManagement" key="emailLinkLogin" languageKey="{languageKey}" /></f:link.external>
    </div>
</f:section>
