<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div>
    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessExpirationNotification.email.message"/></p>
    <f:for each="{documentsList}" as="expirationEntry">
        <p>{expirationEntry.recordId} - {expirationEntry.documentTitle}</p>
    </f:for>
    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessExpirationNotification.email.messageLogin"/></p>
    <p><f:link.typolink parameter="{loginPid}">{f:uri.typolink(parameter:'{loginPid}')}</f:link.typolink></p>
</div>
</html>
