<f:layout name="Email" />

<f:section name="main">
    <h2><f:translate extensionName="DigasFeManagement" key="kitodoAccessGrantedNotification.email.heading" languageKey="{languageKey}" /></h2>

    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessGrantedNotification.email.accessGranted" languageKey="{languageKey}" /></p>
    <ul>
        <f:for each="{documentsList}" as="accessGrantedEntry">
            <f:if condition="!{accessGrantedEntry.rejected}">
                <li>{accessGrantedEntry.recordId} - {accessGrantedEntry.documentTitle} - <f:translate extensionName="DigasFeManagement" key="kitodoAccessGrantedNotification.email.accessUntil" languageKey="{languageKey}" />: {accessGrantedEntry.endTime -> f:format.date(format: '%d.%m.%Y')}</li>
            </f:if>
        </f:for>
    </ul>

    <hr />

    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessGrantedNotification.email.accessRejected" languageKey="{languageKey}" /></p>
    <ul>
        <f:for each="{documentsList}" as="accessGrantedEntry">
            <f:if condition="{accessGrantedEntry.rejected}">
                <li>{accessGrantedEntry.recordId} - {accessGrantedEntry.documentTitle}<f:if condition="{accessGrantedEntry.rejectedReason}"><br /><f:translate key="LLL:EXT:digas_fe_management/Resources/Private/Language/locallang_db.xlf:tx_digasfemanagement_domain_model_access.rejected_reason" languageKey="{languageKey}" />: <em><f:format.nl2br>{accessGrantedEntry.rejectedReason}</f:format.nl2br></em></f:if></li>
            </f:if>
        </f:for>
    </ul>

    <hr />

    <p><f:translate extensionName="DigasFeManagement" key="kitodoAccessGrantedNotification.email.messageLogin" languageKey="{languageKey}" /></p>

    <div class="action">
        <f:link.external uri="{loginUrl}" class="button"><f:translate extensionName="DigasFeManagement" key="emailLinkLogin" languageKey="{languageKey}" /></f:link.external>
    </div>
</f:section>
